body{
    background-color: black;
    padding: 0px;
}
.parallax {
    height:100%;
    width: 100%;
    
  background-image: url("./media/sfondo.jpg");

  /* Set a specific height */
  min-height: 700px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2{
    height:800px;
    width: 100%;
    background-image: url("./media/chisiamo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px; 
    position: relative;
  
}

.parallax3{
    height:280px;
    width: 100%;
    background-image: url("./media/neon.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px; 
  
}

.parallax4{
    height:1000px;
    width: 100%;
    background-image: url("./media/clienti.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 900px; 
  
}

.parallax5{
    height:800px;
    width: 100%;
    background-image: url("./media/promo+.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px; 
  
}

.parallax6{
    height:800px;
    width: 100%;
    background-image: url("./media/palo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px; 
  
}

html{
    scroll-behavior: smooth;
}

*{
    font-family: 'Secular One', sans-serif;
    color: white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
}

.marki{
    transform: rotate(-180deg);
    display: inline-block;
}
.bottone{
    position: absolute;
    right: 10%;
    bottom: 8%;
    text-transform: uppercase;
    text-align: center;
    background-color:  #db7c26;;
    padding: 20px 50px;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    
}
.bottone a:hover{
    text-decoration: none;
    transform: scale(1.1);
    letter-spacing: 2px;
    text-shadow: none;
}
.bottone:hover{
    text-decoration: none;
    transform: scale(1.1);
    letter-spacing: 2px;
}

.bottone a{
    color: white;
    letter-spacing: 2px;
    text-shadow: none;
}

.titoletto{
    position: relative;
    top: 80px;
    text-align: left;
    align-items: center;
}
.paragrafo{
    position: absolute;
    top: 150px;
    

}
.titoletto2{
    position: relative;
    top: 80px;
    
}
form{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 25px;
    border: 4px solid white;
    border-radius: 30px;
    background-color: rgba(111, 29, 27, 0.7);
    text-shadow: none;
}

.bottone2{
    position: absolute;
    right: 100px;
    bottom: 50px;
    text-transform: uppercase;
    text-align: center;
    background-color:  #db7c26;
    padding: 8px 25px;
    box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    border: 1px solid #db7c26;
}

.footer{
    background-color:  rgb(111, 29, 27);
    width: 100%;
}

.testobg{
    background-color: rgba(0, 0, 0, 0.2);
    text-align: left;
    
}

.paragrafopromo{
    position: absolute;
    top: 150px;

    
    
}